body {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.034);
}

body > * {
    max-width: fit-content;
}

#profile-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content:center;
    padding: 20px;
    /*background-color: rgba(49, 49, 49, 0.74);*/
    width: 90%;
    height: 350px;
    border-radius: 20px;
}

.left-content {
    height: 90%;
    margin-right: 15px;
}

.left-content > button {
    height: 90%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.icon {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20%;
    object-fit: cover;
    transition: .1s filter linear;
}

.left-content > button {
    position: relative;
}

.icon-update {
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
    margin: none;
    padding: none;
    display: none;
    filter: invert();
}

.icon:hover + .icon-update {
    display: inline;
}

.icon:hover {
    filter: brightness(50%)
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.rating-stars {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.rating-stars > img {
    width: 50px;
    filter: saturate(75);
}

.name-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.name-header > h1 {
    padding-right: 10px;
}

.status {
    border-radius: 5px;
    height: 30%;
}

h1, h2 {
    margin: 0;
}

.rating-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.rating-section > h2 {
    text-align: left;
    font-size: medium;
}

#game-library {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding: 20px;
    /*background-color: rgba(49, 49, 49, 0.74);*/
    width: 90%;
    height: 350px;
}

#game-library > h1 {
    padding-bottom: 10px;
}

#games-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.37);
    border-bottom: 2px solid rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-container {
    margin-left: 10px;
    margin-right: 10px;
}

.game-icon {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}