<body>

        <div id="profile-header">
            <div class="left-content">

                <ng-container *ngIf="session_user_id == data.user_id; then profile_icon_updatable; else profile_icon">
                </ng-container>

                <ng-template #profile_icon_updatable>
                    <button class="icon-wrapper" (click)="initProfileIconChange()">
                        <img class="icon icon-updatable" src="{{data.icon}}">
                        <img class="icon-update" src="../../assets/images/profilepicupdate.png">
                    </button>
                </ng-template>

                <ng-template #profile_icon>
                    <img class="icon icon-wrapper" src="{{data.icon}}">
                </ng-template>

            </div>
            <div class="right-content">
                <div class="name-header">
                    <span>
                        <span id="online-status" class="online-status-online"></span>
                        <h1>{{data.username}}</h1>
                    </span>
                    <select *ngIf="session_user_id == data.user_id" class="status" name="status" id="status">
                        <option value = "online">Online</option>
                        <option value = "dnd">Do Not Disturb</option>
                        <option value = "idle">Idle</option>
                        <option value = "invisible">Invisible</option>
                    </select>
                </div>
                <div class="rating-section">
                    <h2>Player Rating</h2>
                    <div class="rating-stars">
                        <ng-container *ngFor="let star of [1,2,3,4,5]">
                            <ng-container *ngIf="1 == 1; then star_empty">
                            </ng-container>

                            <ng-template #star_empty>
                                <ng-container *ngIf="star - data.rating >= 1; else star_half">
                                    <img src="../../assets/images/star_empty.svg">
                                </ng-container>
                            </ng-template>

                            <ng-template #star_half>
                                <ng-container *ngIf="star - data.rating >= .5; else star_full">
                                    <img src="../../assets/images/star_half.svg">
                                </ng-container>
                            </ng-template>

                            <ng-template #star_full>
                                <img src="../../assets/images/star_full.svg">
                            </ng-template>

                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div id="game-library">
            <h1>Game Library</h1>
            <div id="games-display">
                <div class="game-container">
                    <img class="game-icon" src="../../assets/images/csgo-banner.png">
                </div>
                <div class="game-container">
                    <img class="game-icon" src="../../assets/images/csgo-banner.png">
                </div>
                <div class="game-container">
                    <img class="game-icon" src="../../assets/images/csgo-banner.png">
                </div>
            </div>
        </div>

</body>