body {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.034);
    height: fit-content;
    position: relative;
}

body > :not(#game-library-popup) {
    max-width: fit-content;
}

#profile-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content:center;
    padding: 20px;
    padding-bottom: 0px;
    /*background-color: rgba(49, 49, 49, 0.74);*/
    width: 90%;
    height: 350px;
    border-radius: 20px;
}

.left-content {
    height: 90%;
    margin-right: 15px;
}

.left-content > .icon-wrapper {
    height: 90%;
    border: none;
    background-color: transparent;
}

.icon-updatable {
    cursor: pointer;
}

.icon {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20%;
    object-fit: cover;
    transition: .1s filter linear;
}

.left-content > button {
    position: relative;
}

.icon-update {
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
    margin: none;
    padding: none;
    display: none;
    filter: invert();
}

.icon-updatable:hover + .icon-update {
    display: inline;
}

.icon-updatable:hover {
    filter: brightness(50%)
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.rating-stars {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.rating-stars > img {
    width: 50px;
    filter: saturate(75);
}

#online-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid rgb(87, 87, 87);
}

.online-status-online {
    background-color: green;
}

.online-status-idle {
    background-color: yellow;
}

.online-status-offline {
    background-color: grey;
}

.online-status-dnd {
    background-color: red;
}

.friend-status-container {
    border-radius: 5px;
    transition: .25s background-color;
    color: white;
    border: none;
}

#friend-request-add, #friend-request-accept {
    background-color: rgba(53, 165, 53, 0.815);
}

#friend-request-remove {
    background-color: rgba(218, 56, 28, 0.815);
}

#friend-request-add:hover {
    background-color: rgba(39, 124, 39, 0.815);
}

#friend-request-remove:hover {
    background-color: rgba(180, 46, 22, 0.815);
}

#friend-request-pending, #friend-request-blocked {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#user-options-button {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.name-header > span {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.status {
    border-radius: 5px;
    height: 30%;
}

h1, h2 {
    margin: 0;
}

.rating-section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.vote-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: .1s transform;
}

.vote-button:hover {
    transform: scale(1.05);
}

.vote-button > img {
    max-width: 200%;
}

#upvote {
    margin-right: 5px;
}

#downvote {
    margin-left: 5px;
}

.rating-section > h2 {
    text-align: left;
    font-size: medium;
}

#game-library {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding: 20px;
    /*background-color: rgba(49, 49, 49, 0.74);*/
    width: 90%;
    height: fit-content;
}

#game-library > h1 {
    padding-bottom: 10px;
}

#games-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 calc(33%);
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.37);
    border-bottom: 2px solid rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#library-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#library-header > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    transition: .25s transform;
}

#library-header > button:hover {
    transform: scale(1.1);
}

#library-header img {
    width: inherit;
}

#library-header > * {
    margin-right: 10px;
}

.game-container, .game-add-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 265px;
    display: inline;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.game-icon {
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.game-container > button {
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 75%;
    right: 0;
    left: 75%;
    margin: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    transition: .25s transform;
}

.game-container > button:hover {
    transform: scale(1.2);
}

.game-remove {
    filter: invert();
    width: 100%;
}

.game-container {
    border: 2px solid black;
}

.game-add-container {
    border: 2px dotted black;
    background-color: rgba(0, 0, 0, 0.363);
    transition: .25s transform, .25s background-color;
}

.game-add-container:hover {
    transform: scale(1.025);
    background-color: rgba(0, 0, 0, 0.521);
}

.game-add-container > img {
    filter: invert();
    width: 50%;
}