<body>

        <div id="profile-header">
            <div class="left-content">

                <ng-container *ngIf="isProfileOwner(); then profile_icon_updatable; else profile_icon">
                </ng-container>

                <ng-template #profile_icon_updatable>
                    <button class="icon-wrapper" (click)="initProfileIconChange()">
                        <img class="icon icon-updatable" src="{{data.icon}}">
                        <img class="icon-update" src="../../assets/images/plus-button.png">
                    </button>
                </ng-template>

                <ng-template #profile_icon>
                    <img class="icon icon-wrapper" src="{{data.icon}}">
                </ng-template>

            </div>
            <div class="right-content">
                <div class="name-header">
                    <span>

                        <span *ngIf="data.status == 0" id="online-status" class="online-status-online" title="Online"></span>
                        <span *ngIf="data.status == 1" id="online-status" class="online-status-offline" title="Offline"></span>
                        <span *ngIf="data.status == 2" id="online-status" class="online-status-dnd" title="Do Not Disturb"></span>
                        <span *ngIf="data.status == 3" id="online-status" class="online-status-idle" title="Idle"></span>

                        <h1>{{data.username}}</h1>
                    </span>

                    <ng-container *ngIf="isProfileOwner(); then statusContainer; else friendStatusContainer">
                    </ng-container>

                    <ng-template #statusContainer>
                        <select class="status" name="status" id="status" (change)="changeStatus($event)">
                            <option value = "0" [selected]="data.status == 0 ? 'true' : null">Online</option>
                            <option value = "2" [selected]="data.status == 2 ? 'true' : null">Do Not Disturb</option>
                            <option value = "3" [selected]="data.status == 3 ? 'true' : null">Idle</option>
                            <option value = "1" [selected]="data.status == 1 ? 'true' : null">Invisible</option>
                        </select>
                    </ng-template>

                    <ng-template #friendStatusContainer>

                        <button *ngIf="data.relationship == 0" id="friend-request-add" class="friend-status-container" (click)="changeFriendStatus(1)">
                            Add friend
                        </button>

                        <div *ngIf="data.relationship == 1" id="friend-request-pending">
                            Request Pending
                        </div>

                        <button *ngIf="data.relationship == 2" id="friend-request-accept" class="friend-status-container" (click)="changeFriendStatus(3)">
                            Accept Request
                        </button>

                        <button *ngIf="data.relationship == 3" id="friend-request-remove" class="friend-status-container" (click)="changeFriendStatus(0)">
                            Unfriend
                        </button>

                    </ng-template>

                </div>
                <div class="rating-section">
                    <button *ngIf="!isProfileOwner()" id="upvote" class="vote-button" title="Upvote" (click)="changeRating(1)"><img src="../../assets/images/upvote.png"></button>
                    <h2>{{data.rating}} Rating</h2>
                    <button *ngIf="!isProfileOwner()" id="downvote" class="vote-button" title="Downvote" (click)="changeRating(-1)"><img src="../../assets/images/downvote.png"></button>
                    <!--
                    <div class="rating-stars" title="{{data.rating}} Stars">
                        <ng-container *ngFor="let star of [1,2,3,4,5]">
                            <ng-container *ngIf="1 == 1; then star_empty">
                            </ng-container>

                            <ng-template #star_empty>
                                <ng-container *ngIf="star - data.rating >= 1; else star_half">
                                    <img src="../../assets/images/star_empty.svg">
                                </ng-container>
                            </ng-template>

                            <ng-template #star_half>
                                <ng-container *ngIf="star - data.rating >= .5; else star_full">
                                    <img src="../../assets/images/star_half.svg">
                                </ng-container>
                            </ng-template>

                            <ng-template #star_full>
                                <img src="../../assets/images/star_full.svg">
                            </ng-template>

                        </ng-container>
                    </div>
                    -->
                </div>
            </div>
        </div>

        <div id="game-library">
            <div id="library-header">
                <h1>Game Library</h1>
                <button *ngIf="isProfileOwner()" (click)="toggleEditLibrary()">
                    <img src="../../assets/images/edit.png">
                </button>
            </div>
            <div id="games-display">
                
                <app-library-game-slot
                    *ngFor="let gameQuery of profileObserver?.getLibraryGames()"
                    [profileObserver]="profileObserver"
                    gameId="{{gameQuery.game_id}}"
                    gameName="{{gameQuery.game_name}}"
                    gameImg="{{gameQuery.img_path}}"
                    enableEditing="false">
                </app-library-game-slot>
                
            </div>
        </div>

</body>