<body>
    <div class="welcome-container">
        <form>
            <img src="../../assets/images/questwhite.png" alt="Your Logo" class="logo">
            <div class="form-group">
                <label for="emailUser">Email address</label>
                <input type="email" class="form-control" id="emailUser" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="7"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success mt-3">Send</button>
        </form>
    </div>
</body>

  