<body>
    <div class="container">
        <div class="left-side">
            <img src="../../assets/images/questwhite.png" alt="Logo" class="logo">
            <p>Welcome to the Quest Help Center!</p>
            <p>At Quest, we are committed to providing you with the best experience. We value your feedback and are always looking to improve.</p>
            <p>If you encounter any issues or have suggestions, please feel free to report them using the form below. Our team will review your reports and get back to you with solutions as soon as possible.</p>
        </div>
        <div class="right-side">
            <div style="font-size: 30px;" *ngIf="successMsg"><strong>Received. We appreciate your report and will reach out to you as soon as possible.</strong></div>
            <div style="font-size: 30px;" *ngIf="errorMsg"><strong>Error. Please try again later.</strong></div>
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit();">
                <label for="email">Email address</label>
                <input formControlName="email" type="email" id="email" placeholder="name@example.com">
                <label for="message">Message</label>
                <textarea formControlName="message" id="message" rows="7"></textarea>
                <button type="submit">Send Report</button>
            </form>
        </div>
    </div>
</body>