body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(42, 42, 42);
    background-image: url('../../assets/images/rocketleaguepic1.jpg');
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-container {
    text-align: center;
    color: rgb(253, 255, 252);
}

.logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

form {
    background-color: rgba(18, 18, 18, 0.8);
    padding: 100px;
    border-radius: 5px;
    width: 1200px;
    height: 750px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    backdrop-filter: blur(5px);
    font-family: 'Montserrat', sans-serif;
}

.form-group {
    margin: 10px 0;
}


.help-center {
    max-width: 600px;
    margin: 0 auto;
}

.mission h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(229, 56, 59);
}

.mission p {
    font-size: 18px;
    line-height: 1.5;
}