<p>lobby works!</p>
<p>lobby works!</p>
<p>lobby works!</p>
<p>lobby works!</p>
<p>lobby works!</p>
<p>lobby works!</p>
<p>lobby works!</p>
<p>lobby works!</p>

<p>lobby works!</p>
<p>lobby works!</p>
<p>lobby works!</p>

<!-- Just temp code to display data -->
<div *ngIf="lobbyData">
    <h1>Below is lobby data</h1>
    <h2>{{ lobbyData.lobby.title }}</h2>
    <p>{{ lobbyData.lobby.description }}</p>
    <p>Hosted by: {{ lobbyData.lobby.host_id }}</p>
    <p>Number of Players: {{ lobbyData.lobby.num_players }}</p>
</div>
