<mat-toolbar *ngIf="userSessionActive()">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="directory"><img src="../../assets/images/questwhite.png" alt="questlogo"></a>
    <span class="example-spacer"></span>
    <button routerLink="directory" mat-button style="font-family: 'Montserrat', sans-serif">Join</button>
    <div class="toolbar-divider"></div>
    <button routerLink="create-lobby" mat-button style="font-family: 'Montserrat', sans-serif">Create</button>
    <div class="toolbar-divider"></div>
    <a href="/profile/{{userService.user.username}}">
        <button routerLink="profile" mat-raised-button class="custom-profile-button">Profile</button>
    </a>
    <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
    </button>
</mat-toolbar>

<mat-toolbar *ngIf="!userSessionActive()">
    <a routerLink="directory"><img src="../../assets/images/questwhite.png" alt="questlogo"></a>
    <span class="example-spacer"></span>
    <button routerLink="login" mat-button style="font-family: 'Montserrat', sans-serif">Log In</button>
    <div class="toolbar-divider"></div>
    <button routerLink="register" mat-raised-button class="custom-profile-button" style="font-family: 'Montserrat', sans-serif">Register</button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="over" position="start" class="custom-drawer">
    <mat-nav-list>
        <mat-list-item>
            <button mat-button style="color: rgb(253, 255, 252);"><mat-icon>group</mat-icon> Friends</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button style="color: rgb(253, 255, 252);"><mat-icon>help</mat-icon> Help</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button style="color: rgb(253, 255, 252);"><mat-icon>logout</mat-icon> Log Out</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>