<mat-toolbar *ngIf="userSessionActive()">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="directory"><img src="../../assets/images/questwhite.png" alt="questlogo"></a>
    <span class="example-spacer"></span>
    <button routerLink="directory" mat-button style="font-family: 'Montserrat', sans-serif">Join</button>
    <div class="toolbar-divider"></div>
    <button routerLink="create-lobby" mat-button style="font-family: 'Montserrat', sans-serif">Create</button>
    <div class="toolbar-divider"></div>
    <button (click)="gotoProfile()" mat-raised-button class="custom-profile-button">Profile</button>
    <button *ngIf="userInLobby()" mat-icon-button (click)="navigateToMyLobby()">
        <mat-icon>games</mat-icon>
    </button>
</mat-toolbar>

<mat-toolbar *ngIf="!userSessionActive()">
    <a routerLink="directory"><img src="../../assets/images/questwhite.png" alt="questlogo"></a>
    <span class="example-spacer"></span>
    <button routerLink="login" mat-button style="font-family: 'Montserrat', sans-serif">Log In</button>
    <div class="toolbar-divider"></div>
    <button routerLink="register" mat-raised-button class="custom-profile-button"
        style="font-family: 'Montserrat', sans-serif">Register</button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="over" position="start" class="custom-drawer">
        <mat-nav-list>
            <div class="friends-header">
                <span><mat-icon>group</mat-icon> Friends</span>
            </div>
            <div class="friends-list">
                <mat-list-item *ngFor="let friend of dummyFriends">
                    <button mat-button style="color: rgb(253, 255, 252);">
                        <mat-icon>person</mat-icon> {{ friend.name }}
                    </button>
                </mat-list-item>
            </div>
            <div class="bottom-buttons">
                <mat-list-item>
                    <button mat-button style="color: rgb(253, 255, 252); font-family: 'Montserrat', sans-serif;">
                        <mat-icon>help_outline</mat-icon> Help
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button (click)="logout()" mat-button style="color: rgb(253, 255, 252); font-family: 'Montserrat', sans-serif;">
                        <mat-icon>logout</mat-icon> Log Out
                    </button>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
