<body>
    <header>
        <!-- <a [routerLink]="['/view-lobbies']"><img class="logo" src="../../assets/images/questwhite.png" alt="logo"></a> -->
        <nav>
            <ul class="nav__links">
                <li><a [routerLink]="['/create-lobby']">Create</a></li>
                <li><a routerLink="">Join</a></li>
            </ul>
        </nav>
        <div class="btns">
            <a [routerLink]="['/profile']" class="btn1"><button>Profile</button></a>
        </div>
    </header>
</body>