@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: rgb(18, 18, 18);
    color: rgb(253, 255, 252);
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.mat-toolbar img {
    max-height: 80px;
    width: auto;
}

.custom-profile-button {
    background-color: rgb(229, 56, 59) !important;
    color: rgb(253, 255, 252) !important;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

.custom-profile-button:hover {
    background-color: rgb(118, 200, 147) !important;
}

/* Add an animation to our return to lobby icon */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.bouncing-icon {
    animation: bounce 2s infinite;
}

.bounce-on-load {
    animation: bounce 2s infinite;
    animation-delay: 1s;
}

.toolbar-divider {
    width: 1px;
    background-color: transparent;
    margin: 0 20px;
}

.custom-drawer {
    background-color: rgb(18, 18, 18);
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.friends-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
    color: rgb(229, 56, 59);
    border-bottom: 2px solid rgb(229, 56, 59);
}

.friends-list {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 300px;
    border-bottom: 2px solid rgb(229, 56, 59);
}

.friends-list mat-list-item:nth-child(odd) {
    background-color: rgb(18, 18, 18);
}

.friends-list mat-list-item:nth-child(even) {
    background-color: rgb(42, 42, 42);
}

.bottom-buttons {
    margin-top: auto;
}

.bottom-buttons button:hover {
    background-color: rgb(229, 56, 59);
}

/* general nav */

.general .example-spacer {
    flex: 1 1 auto;
}

.general.mat-toolbar {
    background-color: rgb(18, 18, 18);
    color: rgb(253, 255, 252);
    height: 100px;
}

.general.mat-toolbar img {
    max-height: 80px;
    width: auto;
}

.general .custom-profile-button {
    background-color: rgb(229, 56, 59) !important;
    color: rgb(253, 255, 252) !important;
}

.general .custom-profile-button:hover {
    background-color: rgb(118, 200, 147) !important;
}

.general .toolbar-divider {
    width: 1px;
    background-color: transparent;
    margin: 0 20px;
}