body {
    background-color: rgb(42, 42, 42);
}

.in-session {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.in-session div {
    text-align: center;
    margin: 5px;
    width: 18%;
    flex: 1 0 auto;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.in-session .placeholder {
    flex: 1 0 auto;
    width: 18%;
    visibility: hidden;
}

.in-session img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 100px;
    transition: transform 0.3s ease-in-out;
}

.in-session img:hover {
    transform: translateY(-10px);
}

.in-session h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: rgb(253, 255, 252);
}

.in-session img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 100px;
    transition: transform 0.3s ease-in-out;
}

.in-session img:hover {
    transform: translateY(-10px);
}

.in-session h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: rgb(253, 255, 252);
}