<body>
    <div class="welcome-container">
        <img src="../../assets/images/questwhite.png" alt="Your Logo" class="logo">
        <div class="mission">
            <h2>Our Mission</h2>
            <p>At Quest, we believe in the power of gaming to forge connections and create unforgettable adventures. Our
                mission
                is to build a vibrant and inclusive community where players can seamlessly connect with like-minded
                individuals, share
                epic gaming experiences, and embark on thrilling quests together.</p>
        </div>
    </div>
</body>