<h2>Login</h2>

<form #userLogin="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form-group col-4">
      <label for="username">Username</label>
      <input [(ngModel)]="user.username" type="text" class="form-control" name="username" placeholder="Username" required>
  </div>
  <div class="form-group col-4">
    <label for="password">Password</label>
    <input [(ngModel)]="user.password" type="password" class="form-control" name="password" placeholder="Password" required>
</div>
  </form>