<body>
  <div class="container">
    <form #userLogin="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="user.username" type="text" class="form-control" name="username" placeholder="Username"
          required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="user.password" type="password" class="form-control" name="password" placeholder="Password"
          required>
      </div>
      <button type="submit" class="btn btn-outline-success mt-3">Login</button>
    </form>
  </div>
</body>