<div id="library-popup-content">
    <h2 id="library-title">Update your library:</h2>
    <button id="library-close" (click)="close()">
        <img src="../../assets/images/exit.png">
    </button>
    <div id="library-popup-wrapper">
        <app-library-game-slot
            *ngFor="let gameQuery of library"
            gameId="{{gameQuery.game_id}}"
            gameName="{{gameQuery.game_name}}"
            gameImg="{{gameQuery.img_path}}"
            type="adding"
            isProfileOwner="{{true}}"
            enableEditing="true">
        </app-library-game-slot>
    </div>
</div>