<div class="game-container">
    <img class="game-icon" src="../../assets/images/{{gameImg}}">

    <ng-container *ngIf="type == 'adding'; then adding; else removing"> 
    </ng-container>

    <ng-template #adding>
        <button *ngIf="isProfileOwner && enableEditing" title="Add to library">
            <img class="game-add" src="../../assets/images/plus-button.png">
        </button>
    </ng-template>

    <ng-template #removing>
        <button *ngIf="isProfileOwner && enableEditing" title="Remove from library">
            <img class="game-remove" src="../../assets/images/exit.png">
        </button>
    </ng-template>

</div>
