.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 265px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid rgba(31, 31, 31, 0.808);
}

.game-container > button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: rgba(44, 44, 44, 0.658);
    border-radius: 100%;
    border: none;
    transition: .25s transform;
    padding: 0px;
}

.game-container > button:hover {
    transform: scale(1.1);
}

.game-container > button > img {
    width: 80%;
    max-width: 100%;
    filter: invert(1);
}

.game-container > .game-icon {
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}