<h2>Registration</h2>

<form autocomplete="off">
    <div class="form-group col-4">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" required>
    </div>
    <div class="form-group col-4">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email" required>
    </div>
    <div class="form-group col-4">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" placeholder="Password" required>
      </div>
      <div class="form-group col-4">
        <label for="password2">Reenter Password</label>
        <input type="password" class="form-control" id="password2" placeholder="Reenter Password" required>
      </div>
      <button type="submit" class="btn btn-outline-success mt-3">Register</button>
  </form>