<body>
    <div class="container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(); formSubmitted=true;" autocomplete="off">
            <h2>Registration</h2>
            <div class="form-group col">
                <label for="username">Username</label>
                <input formControlName="username" type="text" class="form-control" name="username" placeholder="Username">
                <div class="text-danger" *ngIf="formSubmitted && registerForm.get('username')?.hasError('required')">Username is required</div>
                <div class="text-danger" *ngIf="formSubmitted && registerForm.get('username')?.hasError('minlength')">Invalid username length</div>
            </div>
            <div class="form-group col">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" name="email" placeholder="Email">
                <div class="text-danger" *ngIf="formSubmitted && registerForm.get('email')?.hasError('required')">Email is required</div>
                <div class="text-danger" *ngIf="formSubmitted && registerForm.get('email')?.hasError('email')">Invalid email format</div>
            </div>
            <div class="form-group col">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password">
                <div class="text-danger" *ngIf="formSubmitted && registerForm.get('password')?.hasError('required')">Password is required</div>
                <div class="text-danger" *ngIf="formSubmitted && registerForm.get('password')?.hasError('minlength')">Password must be at least 8 characters</div>
            </div>
            <div class="form-group col">
                <label for="confirmPassword">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="Reenter Password">
                <div class="text-danger" *ngIf="formSubmitted && registerForm.get('confirmPassword')?.hasError('required')">Password is required</div>
                <div class="text-danger" *ngIf="formSubmitted && registerForm.get('confirmPassword')?.hasError('minlength')">Password must be at least 8 characters</div>
                <div class="text-danger" *ngIf="registerForm.hasError('passwordMismatch')">Passwords do not match</div>
                <div class="text-danger" *ngIf="registrationError">{{registrationError}}</div>
            </div>
            <button type="submit" class="btn btn-outline-success mt-3">Register</button>
        </form>
    </div>      
</body>
