<body>
    <div class="container">

        <div class="title-row">
            <h2>Title</h2>
            <h2>Description</h2>
            <h2>Num Players</h2>
            <h2>Date</h2>
        </div>

        <div *ngFor="let lobby of lobbiesData" class="lobby">
            <h2>{{ lobby.title }}</h2>
            <p>{{ lobby.description }}</p>
            <p>{{ lobby.num_players }}</p>
            <p>{{ lobby.date }}</p>
        </div>

        <div *ngIf="lobbiesData && lobbiesData.length === 0" class="no-lobbies">
            <div>Nothing to see here...</div>
        </div>
    </div>
</body>